USE [master]
GO
/****** Object:  Database [ATM_OriginSoftware]    Script Date: 19/8/2022 15:52:16 ******/
CREATE DATABASE [ATM_OriginSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM_OriginSoftware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ATM_OriginSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATM_OriginSoftware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ATM_OriginSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM_OriginSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM_OriginSoftware]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 19/8/2022 15:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[codigoOperacion] [int] IDENTITY(1,1) NOT NULL,
	[idTarjeta] [int] NOT NULL,
	[fechaHoraOperacion] [datetime] NOT NULL,
 CONSTRAINT [PK__Balance__BCD16ADB67628820] PRIMARY KEY CLUSTERED 
(
	[codigoOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retiro]    Script Date: 19/8/2022 15:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retiro](
	[codigoOperacion] [int] IDENTITY(1,1) NOT NULL,
	[idTarjeta] [int] NOT NULL,
	[fechaHoraOperacion] [datetime] NOT NULL,
	[montoRetirado] [int] NOT NULL,
 CONSTRAINT [PK__Retiro__BCD16ADBAD9CDC1E] PRIMARY KEY CLUSTERED 
(
	[codigoOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 19/8/2022 15:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[idTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [int] NOT NULL,
	[nroTarjeta] [varchar](16) NOT NULL,
	[balance] [int] NOT NULL,
	[fechaVencimiento] [date] NOT NULL,
	[estaBloqueada] [bit] NOT NULL,
 CONSTRAINT [PK__Tarjeta__C456D5386AF8B624] PRIMARY KEY CLUSTERED 
(
	[idTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tarjeta] ON 

INSERT [dbo].[Tarjeta] ([idTarjeta], [PIN], [nroTarjeta], [balance], [fechaVencimiento], [estaBloqueada]) VALUES (9, 1111, N'1111111111111111', 1111, CAST(N'2025-08-20' AS Date), 0)
INSERT [dbo].[Tarjeta] ([idTarjeta], [PIN], [nroTarjeta], [balance], [fechaVencimiento], [estaBloqueada]) VALUES (10, 1234, N'1234567891234567', 150000, CAST(N'2029-12-14' AS Date), 0)
INSERT [dbo].[Tarjeta] ([idTarjeta], [PIN], [nroTarjeta], [balance], [fechaVencimiento], [estaBloqueada]) VALUES (11, 1245, N'1111222233334444', 25, CAST(N'2027-07-11' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Tarjeta] OFF
GO
ALTER TABLE [dbo].[Balance]  WITH CHECK ADD  CONSTRAINT [FK__Balance__idTarje__267ABA7A] FOREIGN KEY([idTarjeta])
REFERENCES [dbo].[Tarjeta] ([idTarjeta])
GO
ALTER TABLE [dbo].[Balance] CHECK CONSTRAINT [FK__Balance__idTarje__267ABA7A]
GO
ALTER TABLE [dbo].[Retiro]  WITH CHECK ADD  CONSTRAINT [FK__Retiro__idTarjet__29572725] FOREIGN KEY([idTarjeta])
REFERENCES [dbo].[Tarjeta] ([idTarjeta])
GO
ALTER TABLE [dbo].[Retiro] CHECK CONSTRAINT [FK__Retiro__idTarjet__29572725]
GO
USE [master]
GO
