<div class="row min-flex mt-3">
  <div class="calculadora container col-8">
    <div class="row min-flex">
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('1')" (click)="enviarMonto('1')">1</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('2')" (click)="enviarMonto('2')">2</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('3')" (click)="enviarMonto('3')">3</button>
    </div>
    <div class="row min-flex">
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('4')" (click)="enviarMonto('4')">4</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('5')" (click)="enviarMonto('5')">5</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('6')" (click)="enviarMonto('6')">6</button>
    </div>
    <div class="row min-flex">
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('7')" (click)="enviarMonto('7')">7</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('8')" (click)="enviarMonto('8')">8</button>
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('9')" (click)="enviarMonto('9')">9</button>
    </div>
    <div class="row min-flex">
      <button type="button" class="btn btn-secondary col-2 numero" (click)="enviarNumero('0')" (click)="enviarMonto('0')">0</button>
    </div>
  </div>
</div>
