<div class="container">
  <div class="row">
    <div class="col">
      <h1>Operaciones</h1>
      <hr>
    </div>
  </div>
  <div class="row botonesOperaciones">
    <div class="col">
      <button class="btn btn-primary btn-lg" (click)="goToBalance()">Balance <i class="bi bi-cash-stack"></i></button>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-lg" (click)="goToRetiro()">Retiro <i class="bi bi-capslock"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col btnSalir">
      <button class="btn btn-secondary btn-lg" (click)="salir()">Salir</button>
    </div>
  </div>
</div>
